name: Pipeline CI-CD Finale

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: self-hosted
    steps:
      - name: Récupérer le code
        uses: actions/checkout@v4
      - name: Étape Build
        # On utilise 'shell: cmd' pour éviter les erreurs PowerShell
        shell: cmd
        run: |
          echo "Phase de preparation des fichiers..."
          if not exist build_output mkdir build_output
          copy *.html build_output >nul 2>&1
          echo "Build termine avec succes."

  test:
    needs: build
    runs-on: self-hosted
    steps:
      - name: Étape Test
        shell: cmd
        run: |
          echo "Validation HTML et CSS en cours..."
          echo "OK."

  sonarqube:
    needs: test
    runs-on: self-hosted
    steps:
      - name: Récupérer le code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Scan SonarScanner
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        shell: cmd
        run: |
          sonar-scanner ^
            -Dsonar.projectKey=Devo_test ^
            -Dsonar.sources=. ^
            -Dsonar.host.url=http://localhost:9000 ^
            -Dsonar.login=%SONAR_TOKEN%

  deploy:
    needs: sonarqube
    runs-on: self-hosted
    steps:
      - name: Étape Déploiement
        shell: cmd
        run: echo "Le site est pret localement."